<div id="scene_container">
  <div id="title_exits">
    <div>
      <div id="scene_title">
        <span class="title">Scene: </span>{{ scene?.name }}
      </div>
      <div id="scene_objects">
        <div class="title">Objects</div>
        <div
          *ngFor="let object of objects"
          class="clickable"
          (click)="selectObject(object)"
        >
          {{ object.key }}
        </div>
      </div>
    </div>

    <div id="scene_exits">
      <div class="title">Exists</div>
      <div
        *ngFor="let exit of exits"
        class="clickable"
        (click)="selectExit(exit)"
      >
        {{ exit.key }}
      </div>
    </div>
  </div>

  <div id="console">
    <div class="title">Console</div>
    <div id="console_message">{{ message }}</div>
  </div>
  <div id="actions">
    <div class="'title">Actions</div>
    <div class="action_set">
      <div class="action_button" (click)="startAction('inspect')">Inspect</div>
      <div class="action_button" (click)="startAction('get')">Get</div>
      <div class="action_button">Open</div>
      <div class="action_button">Close</div>
      <div class="action_button">Use</div>
      <div class="action_button">Throw</div>
    </div>
  </div>
  <div id="inventory">
    <div>Inventory</div>
    <div
      *ngFor="let object of inventory"
      class="clickable"
      (click)="selectObject(object)"
    >
      {{ object.key }}
    </div>
  </div>
</div>
