#scene_container {
    display:flex;
    flex-direction: column;
    border:1px solid #ccc;
    padding: 8px;
    
}

#title_exits {
    display: flex;
    justify-content: space-between;
}

#scene_exits {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 8px;
}
#scene_objects {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 8px;
}
.clickable:hover {
    cursor: pointer;
    color: yellow;
}
#scene_title {
    border: 1px solid #ccc;
    padding: 8px;
}

.title {
    font-size: 18px;
    color: yellow;
    padding-bottom:8px
}

#console {
    justify-self: flex-start;
    margin-top:8px;
    border: 1px solid #ccc;
    padding: 8px;
    min-height: 64px;
}

#actions {
    justify-self: flex-start;
    margin-top:8px;
    border: 1px solid #ccc;
    padding: 8px;
}

#inventory {
    justify-self: flex-start;
    margin-top:8px;
    border: 1px solid #ccc;
    padding: 8px;
}

.action_button {
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    margin:8px 8px;
    padding: 4px;

    &:hover {
        background: #ccc;
        color: black;
        cursor: pointer;
    }
}
.action_set {
    display:flex;
    flex-direction: row;
}